html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  border-top: 8px solid #b3fbff;
  border-bottom: 8px solid #b3fbff;
  background-image: repeating-linear-gradient(-30deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
}

.intro-paragraph {
  margin: 0;
  text-shadow: 2px 2px 1px rgba(114, 91, 111, .3);
}

h1 {
  color: #990073;
  left: -.15em;
  transform: rotate(-11deg);
  filter: blur(12px);
  opacity: 0;
  position: relative;
  transform-origin: left center;
  animation: h1-rotate .2s 1.2s ease-in forwards;
}

@keyframes h1-rotate {

  0% {
    transform: rotate(-11deg);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: rotate(-9deg);
    filter: blur(0);
    opacity: 100;
  }

}

.text {
  max-width: 19em;
  color: #c09;
  transform: rotate(-7deg);
  filter: blur(12px);
  opacity: 0;
  position: relative;
  transform-origin: left center;
  animation: text-rotate .2s 1.2s ease-in forwards;
}

@keyframes text-rotate {

  0% {
    transform: rotate(-7deg);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: rotate(-5deg);
    filter: blur(0);
    opacity: 100;
  }

}

.btn-ghost {
  color: #c09;
  border: solid 3px #990073;
  filter: blur(12px);
  position: relative;
  opacity: 0;
  animation: btn-in .2s 1.2s ease-in forwards;
}

.btn-ghost:hover,
.btn-ghost:focus {
  color: #c09;
  border: solid 3px #990073;
  background-color: rgba(153, 0, 115, .1);
}

@keyframes btn-in {

  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 100;
  }

}

/* ---------------------ICE CREAM ANIMATION---------------- */

.flavours {
  min-height: 480px;
}

.ice-cream {
  width: 180px;
  height: 180px;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
}

#cone {
  z-index: 100;
  animation: cone-fall .3s ease-in forwards;
}

@keyframes cone-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

#mint-chip {
  z-index: 20;
  animation: mint-fall .3s .2s ease-in forwards;
}

@keyframes mint-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 106px;
  }

}

#chocolate-chip {
  z-index: 30;
  left: 55%;
  animation: choco-fall .3s .4s ease-in forwards;
}

@keyframes choco-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 193px;
  }

}

#vanilla-fudge {
  z-index: 40;
  left: 49%;
  animation: vanilla-fall .3s .6s ease-in forwards;
}

@keyframes vanilla-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 266px;
  }

}

#cherry {
  z-index: 50;
  left: 51%;
  animation: cherry-fall .3s .8s ease-in forwards;
}

@keyframes cherry-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 350px;
  }

}
